body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background:#4A2813;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  color:#FFFFFF;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.brown {
  background:#4A2813;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:after,
.row:after {
  clear: both;
}
.container:before,
.container:after,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.nav {
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar {
    border-top:none;
    border-bottom:3px solid #754527;
    margin-bottom:0;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -.7px;
    transition: background 100ms ease-in-out;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-nav > li > a:hover {
    background:#754527;
}
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-header,
.collapse {
    background:#4A2813;
}
.navbar-header {
    width: 100%;
    position: relative;
}
.navbar .navbar-brand {
    text-indent: -9909px;
    background: url(/src/assets/images/logo_full-250x129.png) no-repeat center top;
    width: 250px;
    height: 120px;
    position: absolute;
    left: 55%;
    top: 5px;
    transform: translateX(-50%);
    z-index:999;
}
.brown a {
  color:#FFFFFF;
  text-decoration:none;
}

.navbar-toggle {
    z-index:3;
}
.collapse {
  display:none;
}
.colored {
  color:#F2F1EF;
}
.green {
  background:#3F4E50;
}
.green.top .container {
  padding-top:60px;
  padding-bottom:60px;
  text-align:center;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-md-1, .col-sm-2, .col-md-3, .col-sm-4, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-sm-10, .col-lg-10, .col-sm-12, .col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3 {
  line-height:1.1;
  font-family:inherit;
  color:inherit;
  margin-top: 20px;
  margin-bottom: 10px;
}
.colored h1,
.colored h2,
.colored h3 {
  color:#FFFFFF;
  text-shadow:0px 0px 6px rgba(0,0,0,.5);
}
h1 {
  font-weight:600;
}
.green.top h1 {
  margin: 20px 0 5px;
  font-size: 36px;
}
h2 {
  font-size:28px;
}
.green.top h2 {
    margin:0 0 25px;
    font-weight:300;
    font-size:24px;
}
.green.top h2 strong {
    font-weight:400;
}
.green.top ul {
  padding:0;
  margin:0 0 25px;
}
.green.top ul li {
  list-style:none;
  display:inline-block;
  margin:0 10px 0 0;
}
.green.top ul li a {
  color:#F2F1EF;
  font-weight:400;
  font-style:italic;
  font-size:18px;
  text-decoration:none;
}
.green.top ul li a::before{
  content:"#";
  font-style:italic;
}
p {
  font-size:18px;
  font-weight:300;
  margin: 0 0 10px;
}
p.large {
  font-size:20px;
}
.green.top p.large {
    margin-bottom:15px;
}
p strong,
p b {
  font-weight:400;
}
figure {
  margin:0;
}
figure img {
  margin: 0 auto;
  border:0;
}
img {
  vertical-align: middle;
  border: 0;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.green.top figcaption {
  color:#BDC3C7;
}
.red {
  background:#7E1618;
}
.red.top .container {
  padding-top:10px;
  padding-bottom:10px;
}
body.home .red.top .container {
    padding-top:0;
}
.red.top h3 {
  margin:30px 0;
  font-size:24px;
  line-height:1.1;
  font-weight:lighter;
}
.red.top h3 b {
  font-size: 34px;
  line-height: 40px;
  padding: 0 0 5px;
  font-weight:400;
  display:inline-block;
}
.ads {
  width:100%;
  height:auto;
}
body.page .ads {
    margin:20px 0;
}
body.page .ads {
    margin:40px 0;
}
.ad1 {
  margin-top:20px;
}
.white {
  background:#EEEEEE;
}
.white .container {
  padding-bottom:40px;
}
.white.middle .container {
  padding-top:30px;
}
.white.middle h2 {
  color: #44595A;
  line-height: 34px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 30px;
}
.white.middle p {
  color:#444444;
}
/* AD2 */
.ad2 {
  margin-bottom:20px;
}
/* AD3 */
.ad3 {
  margin:20px 0;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar-header {
    float:left;
  }
  .navbar>.container .navbar-brand {
    margin-left: -15px;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav>li {
    float: left;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }
  .col-sm-12 {
    float: left;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .navbar .navbar-brand {
    background: url(/src/assets/images/logo_full-171x88.png) no-repeat center top;
    width:171px;
    height:88px;
    left: 110px;
  }
  .collapse {
    display:block;
  }
  .green.top .container {
    text-align: left;
    padding-top:40px;
    padding-bottom:40px;
  }
  .col-md-5, .col-md-7 {
    float: left;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .green.top figcaption {
    text-align: right;
    padding: 0 175px 0 0;
    margin-top: -25px;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-10 {
    float: left;
    width: 83.33333333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
}
